{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | divided_by: 16.00 | times: 0.75 | round: 0 }}rem;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 16.00 | times: 0.75 | round: 0 }}rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | divided_by: 16.00 }}rem;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 16.00 }}rem;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }} space-y-16">
  <header class="container space-y-8">
    <h2 class="text-4xl font-medium">{{ section.settings.title }}</h2>
    <div class="text-xl tracking-widest">{{ section.settings.content }}</div>
  </header>

  <div class="container grid lg:grid-cols-12 gap-4">
    {%- for block in section.blocks -%}
      {% liquid
        assign button_link = block.settings.button_link
        assign button_label = block.settings.button_label
      %}
      <div class="lg:col-span-4" {{ block.shopify_attributes }}>
        {%- if block.settings.image -%}
          {%- if button_link != blank %}
            <a href="{{ button_link }}" class="block">
          {%- endif -%}
          {{- block.settings.image | image_url: width: 381, height: 381 | image_tag: class: 'block w-full h-auto' -}}
          {%- if button_link != blank %}
            </a>
          {%- endif -%}
        {%- endif -%}

        {%- if block.settings.content or block.setting.title or button_link != blank or button_label != blank -%}
          <div class="space-y-8">
            {%- if block.settings.title -%}
              <h3 class="text-3xl text-balance tracking-widest">{{- block.settings.title -}}</h3>
            {%- endif -%}
            {{- block.settings.content -}}
            {%- if button_label != blank and button_link != blank -%}
              <a
                class="bg-black text-white text-xl py-3.5 px-15"
                href="{{ button_link }}"
                class="button"
              >
                {{- block.settings.button_label -}}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multirow.name",
  "class": "section multirow",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "t:sections.multirow.settings.title.default",
      "label": "t:sections.multirow.settings.title.label"
    },
    {
      "type": "richtext",
      "default": "t:sections.multirow.settings.content.default",
      "id": "content",
      "label": "t:sections.multirow.settings.content.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "t:sections.multirow.blocks.row.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multirow.blocks.row.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "t:sections.multirow.blocks.row.settings.title.default",
          "label": "t:sections.multirow.blocks.row.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "t:sections.multirow.blocks.row.settings.content.default",
          "label": "t:sections.multirow.blocks.row.settings.content.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.multirow.blocks.row.settings.button_label.default",
          "label": "t:sections.multirow.blocks.row.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.multirow.blocks.row.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multirow.presets.name",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }
  ]
}
{% endschema %}
